/*
 * Options Module
 */
#options-view {
  .config-table {
    input {
      width: 100%;
      max-width: none;
    }
  }

  tbody {
    td {
      &.option-caption {
        text-align: center;
        padding: 0 10px;
        vertical-align: middle;
        font-weight: bold;
        font-style: italic;
      }
      &.option-value {

      }
    }
  }
}
