<section id="options-view" class="mainbar">
    <section class="matter">
        <div class="container">

            <flash-message></flash-message>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" data-ng-repeat="(key, option) in vm.options">
                        <!-- Default panel contents -->
                        <div class="panel-heading" ><h3 translate>{{ vm.getTranslationKey(key, 'HEADING') }}</h3></div>
                        <div class="panel-body">
                            <p translate>{{ vm.getTranslationKey(key, 'COPY') }}</p>
                        </div>
                        <!-- Table -->
                        <table class="table table-bordered config-form">
                            <tbody>
                                <tr data-ng-repeat="(field, value) in option">
                                    <td translate>{{ vm.getTranslationKey(key, 'FIELDS.' + $index) }}</td>
                                    <td>
                                        <input type="text" class="form-control"
                                               data-ng-model="vm.options[key][field]"
                                               title="{{ vm.getTranslationKey(key, 'FIELDS.' + $index) | translate }}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button type="button" class="btn btn-primary btn-lg active save-button"
                            data-ng-click="vm.save()" translate>OPTIONS.SAVE_BUTTON</button>
                </div>
            </div>
        </div>
    </section>
</section>
