/* Label colors */

.label.label-success, .badge.badge-success {
  background: #43c83c !important;
}

.label.label-warning, .badge.badge-warning {
  background: #f88529 !important;
}

.label.label-important, .badge.badge-important {
  background: #fa3031 !important;
}

.label.label-info, .badge.badge-info {
  background: #52b9e9 !important;
}
