/* Modal */

.modal-header {
  padding-top: 7px;
  padding-bottom: 7px;
}

/* Back to top */

.totop {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 104400;
  background: #fa3031;
  display: none;

  a {
    display: block;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;

    &:visited {
      display: block;
      width: 30px;
      height: 30px;
      color: #fff;
      text-align: center;
      line-height: 30px;
    }

    &:hover {
      color: #eee;
      text-decoration: none;
    }
  }
}

/* Half column - CHECK LATER */

.col-left {
  width: 48%;
  float: left;
}

.col-right {
  width: 48%;
  float: right;
}
