/* Text colors */

.lightblue {
  color: #52b9e9 !important;
}

.blue {
  color: #1171a3 !important;
}

.green {
  color: #43c83c !important;
}

.orange {
  color: #f88529 !important;
}

.red {
  color: #fa3031 !important;
}

.violet {
  color: #932ab6 !important;
}
