body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#dashboard-view {
    img.poster-thumbnail {
        width: 64px;
    }

    ul.dropdown-menu {
        width: 400px;
    }

    a.ta-match {
        .ta-info {
            display: inline-block;
        }
        .ta-year {
            font-style: italic;
        }
    }
}

#options-view {
    .config-form {
        input {
            width: 100%;
            max-width: none;
        }
        .save-button {
            float: right;
        }
    }
}
