body {
  padding-top: 50px;
  padding-bottom: 20px; }

#dashboard-view img.poster-thumbnail {
  width: 64px; }
#dashboard-view ul.dropdown-menu {
  width: 400px; }
#dashboard-view a.ta-match .ta-info {
  display: inline-block; }
#dashboard-view a.ta-match .ta-year {
  font-style: italic; }
