/*
 * Dashboard Module
 */
#dashboard-view {
  img.poster-thumbnail-64 {
    width: 64px;
  }
  img.poster-thumbnail-128 {
    width: 128px;
    padding: 0;
  }

  #search-box {
    padding: 0 15px 10px 0;

    ul.dropdown-menu {
      width: calc(100% - 15px);
      overflow: hidden;
      overflow-y: scroll;
      height: 528px;

      li {

        &.active {
          .ta-info {
            color: #0f0f0f;
            & > h3 {
              @extend .ta-info;
            }
          }
        }

        a.ta-match {

          &.active, &:hover {
            background-color: #337ab7 !important;
          }

          .ta-info {
            display: inline-block;
          }
          .ta-year {
            font-style: italic;
          }
        }

      }
    }

    i {
      &.ta-loading {
        position: absolute;
        right: 25px;
        top: 10px;
      }
    }
  }

  #selection-box {
    border: 1px solid $light-gray;
    min-height: 34px;
    padding-bottom: 10px;

    .selection-info {
      min-height: 128px;
    }
  }

  table#series {
      thead {
        th {
          text-align: center;
        }
      }
  }

}
